<!-- Header -->
<header>
        <img src="{{ url_for('static', filename='images/logo.png') }}"
            alt="Pazhong Automations software and product development" class="logo">

        <nav>
            <ul>
                <li><a href="{{ url_for('index') }}">Home</a></li>
                <li><a href="{{ url_for('about') }}">About</a></li>
                <li><a href="{{ url_for('service') }}">Services</a></li>
                <li><a href="{{ url_for('wework') }}">Our Work</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </nav>

        <button>Inquiry Now</button>
        <div class="hamburger">&#9776;</div>
</header>