{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/about.css') }}">
{% endblock styles %}
{% block content %}
<section class="contact-us-main-section">
    <section class="left-contact-side">
        <h2 class="left-contact-heading">Obtaining further information
            by making a contact with our
            experienced IT staff.</h2>
        <p class="left-contact-para">We’re available for 8 hours a day! 
            <span class="para-highlight">Monday - Saturday, 11:00 AM - 7:00 PM</span> 
            Contact to require a detailed analysis & assessment of your
            plan.</p>
    </section>
    <section class="right-contact-side">
        <i class="fa-solid fa-phone-flip"></i>
        <p class="right-contact-para">REACH OUT NOW</p>
        <h2 class="right-contact-heading">+92 304 5929006 +92 310 8657920</h2>
    </section>
</section>
{% endblock content %}